@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* pre {
  overflow-x: auto;
  white-space: pre;
  word-break: normal;
} */

pre>code {
  background: #FFF2DC;
  font-family: monospace;
  font-size: 0.95rem;
  line-height: 1.6;
  border-radius: 6px;
  padding: 1rem;
  display: block;
  overflow-x: auto;
}